// Bootstrap
@use "bootstrap/scss/bootstrap";

.landing-split .cliente-bloco{
  background: linear-gradient(to bottom, rgba(13, 110, 253, 0.2), rgba(13, 110, 253, 0.8)),
              url('/assets/images/img-1.jpg') center center / cover no-repeat;
}

.landing-split .profissional-bloco{
  background: linear-gradient(to bottom, rgba(255, 193, 9, 0.2), rgba(255, 193, 9, 0.8)),
              url('/assets/images/img-2.jpg') center center / cover no-repeat;
}

.landing-split .cliente-bloco {
  background-position: left;
}

.landing-split .profissional-bloco {
  background-position: right;
}

.box-frente{
  border-radius: 6px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background: rgb(255 255 255 / 90%);
  color: #333;
}

#mc_embed_signup form {
    margin: 0 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: rgba(255, 255, 255, 0) !important;
}

#mc_embed_signup .button {
    background-color:none !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 1.3rem !important;
    width: 100% !important;
}

#mc-embedded-subscribe.btn-cliente {
    background-color:rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

#mc-embedded-subscribe.btn-pro {
    background-color:rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
    color: #000;
}