// Bootstrap
@import "bootstrap/scss/bootstrap";

.landing-split .cliente-bloco{
  background: linear-gradient(to bottom, rgba(13, 110, 253, 0.2), rgba(13, 110, 253, 0.8)),
              url('/assets/images/img-1.jpg') center center / cover no-repeat;
}

.landing-split .profissional-bloco{
  background: linear-gradient(to bottom, rgba(255, 193, 9, 0.2), rgba(255, 193, 9, 0.8)),
              url('/assets/images/img-2.jpg') center center / cover no-repeat;
}

.landing-split .cliente-bloco {
  background-position: left;
}

.landing-split .profissional-bloco {
  background-position: right;
}
