@use "bootstrap/scss/bootstrap";

.landing-split .cliente-bloco{
  background: linear-gradient(to bottom, rgba(13, 110, 253, 0.2), rgba(13, 110, 253, 0.8)),
              url('/assets/images/img-1.jpg') center center / cover no-repeat;
}

.landing-split .profissional-bloco{
  background: linear-gradient(to bottom, rgba(255, 193, 9, 0.2), rgba(255, 193, 9, 0.8)),
              url('/assets/images/img-2.jpg') center center / cover no-repeat;
}

.landing-split .cliente-bloco {
  background-position: left;
}

.landing-split .profissional-bloco {
  background-position: right;
}

.box-frente{
  border-radius: 6px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background: rgb(255 255 255 / 90%);
  color: #333;
}

#mc_embed_signup form {
    margin: 0 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: rgba(255, 255, 255, 0) !important;
}

#mc_embed_signup .button {
    background-color:none !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 1.3rem !important;
    width: 100% !important;
}

#mc-embedded-subscribe.btn-cliente {
    background-color:rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

#mc-embedded-subscribe.btn-pro {
    background-color:rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
    color: #000;
}


.box-frente p {
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 900px) {
  
  .box-frente {
      margin: 1rem 4rem !important;
      padding: 1rem !important;
  }

  .landing-split .cliente-bloco, .landing-split .profissional-bloco {
    background-position: left;
    display: flex !important;
    align-items: flex-end !important;
  }

  .linha {
   padding: 0 2rem;
  }

  .mailchimp.pe-5 {
    padding: 1.5rem !important;
  }

  .bene.pe-4 {
    padding: 0 0 .5rem 0 !important;
    margin-bottom: 0 !important;
  }

  .bg-body-secondary.text-dark.py-5{
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }
  .bg-body-light.text-dark.py-5{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .row.align-items-center.py-4{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .d-flex.gap-3.botoes {
    display: flex !important;
    align-content: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
  }

}
